$secondary-100: #f2f2f3;
$secondary-200: #5d5c5d;
$secondary-300: #bababb;
$secondary-400: #bdada1;
$secondary-500: #666;

$black-100: rgba(31, 31, 31, 1);
$black-200: rgba(77, 77, 77, 1);
$black-300: rgba(102, 102, 102, 1);

$red-100: rgba(218, 52, 52, 1);

$orange-100: #ff6f3c;
$orange-200: #ff703c7b;
$orange-300: #f5a623;

$beige-100: #cdc6b7;
