// make scrollable and hide scrollbar
.hide-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}

.fade-scrollbar {
  &::-webkit-scrollbar-thumb {
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  &:hover::-webkit-scrollbar-thumb,
  &.scrolling::-webkit-scrollbar-thumb {
    opacity: 1;
  }
}
